# Binaries
backend/server
*.exe

# Environment
.env
backend/.env

# Dependencies
frontend/node_modules/
frontend/.next/

# OS
.DS_Store

# Go
backend/vendor/

# Android keystore
elijay-pos.keystore
android-keystore-credentials.txt

# Deployment
deployment/

# Android Build & Gradle Caches
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/Captures/
*.apk

